
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    

}

.sombra{
    text-shadow:  0.1cm 0.1cm 0.1cm black
}




/* index */



/* responsive index y productosPC */

