

@import "vars";

.banner{
    color: #ff3300;
    padding: 10px;
    margin: 20px;
    
    background-image: url("../assets/banner.jpg");
    
    background-size: cover;
    

}

.producto {
        img{
            width: auto;
            height: 70%;
            border: 6px solid black;
            border-radius: 5px;
        }
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: grey;
        justify-content: space-around;

        &.PC{
            background-color: #8362fd;
            height: 100%;
        }

        p{
            text-align: center;
            font: {
                size: 15px;
                family: $FontTexto;
            }
        }

        .precio{
            color: white;
            background-color: black;
        }

        border-radius: 15px;
}

.carrito {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.show{
    opacity: 1;
    visibility: visible;
}

.icono{
    width: 8%;
}

.productCarrito{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.formulario1{
    font-family: "roboto Mono", monospace;
}

.bajo{
    
    justify-content: space-between;
}
.nosotros{
    font: {
        family:$FontTexto;
        size: 13px;
    }
    padding: 20px;
    text-align: center;
}