

@import "vars";

.banner{
    color: #ff3300;
    padding: 10px;
    margin: 20px;
    
    background-image: url("../assets/banner.jpg");
    
    background-size: cover;
    

}

.producto {
        img{
            width: auto;
            height: 70%;
            border: 6px solid black;
            border-radius: 5px;
        }
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: grey;
        justify-content: space-around;

        &.PC{
            background-color: #8362fd;
            height: 100%;
        }

        p{
            text-align: center;
            font: {
                size: 15px;
                family: $FontTexto;
            }
        }

        .precio{
            color: white;
            background-color: black;
        }

        border-radius: 15px;
}



.formulario1{
    font-family: "roboto Mono", monospace;
}

.nosotros{
    font: {
        family:$FontTexto;
        size: 13px;
    }
    padding: 20px;
    text-align: center;
}