/*variables*/

@import "vars";
@import "headerFooter";
@import "pages";
@import "responsive";

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
}

.titulo {
    
    font: {
        size: 25px;
        family: $FontTexto;
        weight: 700;
    }  
    
    text: {
        shadow: $Sombra;
        align: center;
    }
    color: $ColorTitulo;
    background-color: $ColorFondo;
    padding: 20px 10px 20px 10px;
}


iframe{
    margin: 20px auto 10px auto;
    display: block;
}