/*variables*/

@import "vars";
@import "headerFooter";
@import "pages";
@import "responsive";


.titulo {
    
    font: {
        size: 25px;
        family: $FontTexto;
        weight: 700;
    }  
    
    text: {
        shadow: $Sombra;
        align: center;
    }
    color: $ColorTitulo;
    background-color: $ColorFondo;
    padding: 20px 10px 20px 10px;
}


iframe{
    margin: 20px auto 10px auto;
    display: block;
}